	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/08/2018 09:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../webfonts/Flaticon.eot");
  src: url("../webfonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../webfonts/Flaticon.woff") format("woff"),
       url("../webfonts/Flaticon.ttf") format("truetype"),
       url("../webfonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../flaticon-fonts/Flaticon.eot");
  src: url("../flaticon-fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../flaticon-fonts/Flaticon.woff") format("woff"),
       url("../flaticon-fonts/Flaticon.ttf") format("truetype"),
       url("../flaticon-fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-cell:before { content: "\f100"; }
.flaticon-002-chromosome:before { content: "\f101"; }
.flaticon-003-corn:before { content: "\f102"; }
.flaticon-004-dna:before { content: "\f103"; }
.flaticon-005-experiment:before { content: "\f104"; }
.flaticon-006-fertilization:before { content: "\f105"; }
.flaticon-007-gene:before { content: "\f106"; }
.flaticon-008-medicine:before { content: "\f107"; }
.flaticon-009-inheritance:before { content: "\f108"; }
.flaticon-010-genetics:before { content: "\f109"; }
.flaticon-011-genetics-1:before { content: "\f10a"; }
.flaticon-012-genome:before { content: "\f10b"; }
.flaticon-013-gmo:before { content: "\f10c"; }
.flaticon-014-human:before { content: "\f10d"; }
.flaticon-015-laboratory:before { content: "\f10e"; }
.flaticon-016-scientist:before { content: "\f10f"; }
.flaticon-017-sugar-beet:before { content: "\f110"; }
.flaticon-018-syringe:before { content: "\f111"; }
.flaticon-019-test-tube:before { content: "\f112"; }
.flaticon-020-virus:before { content: "\f113"; }




.flaticon-ambulance:before { content: "\f100"; }
.flaticon-bed:before { content: "\f101"; }
.flaticon-brain:before { content: "\f102"; }
.flaticon-cardiogram:before { content: "\f103"; }
.flaticon-cardiogram-1:before { content: "\f104"; }
.flaticon-cardiogram-2:before { content: "\f105"; }
.flaticon-dna:before { content: "\f106"; }
.flaticon-eye:before { content: "\f107"; }
.flaticon-first-aid-kit:before { content: "\f108"; }
.flaticon-heart:before { content: "\f109"; }
.flaticon-helicopter:before { content: "\f10a"; }
.flaticon-hospital:before { content: "\f10b"; }
.flaticon-intestine:before { content: "\f10c"; }
.flaticon-kidneys:before { content: "\f10d"; }
.flaticon-liver:before { content: "\f10e"; }
.flaticon-lungs:before { content: "\f10f"; }
.flaticon-medicine:before { content: "\f110"; }
.flaticon-microscope:before { content: "\f111"; }
.flaticon-pharmacy:before { content: "\f112"; }
.flaticon-pharmacy-1:before { content: "\f113"; }
.flaticon-pharmacy-2:before { content: "\f114"; }
.flaticon-pharmacy-3:before { content: "\f115"; }
.flaticon-pill:before { content: "\f116"; }
.flaticon-shield:before { content: "\f117"; }
.flaticon-stethoscope:before { content: "\f118"; }
.flaticon-stomach:before { content: "\f119"; }
.flaticon-syringe:before { content: "\f11a"; }
.flaticon-test-tube:before { content: "\f11b"; }
.flaticon-tooth:before { content: "\f11c"; }
.flaticon-wheelchair:before { content: "\f11d"; }